In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("preprocess.csv");

In [16]:
df.head()

   Unnamed: 0  Position  Streams        Date Region  Inv_Pos
0       21200         1    21030  2017-04-17     ec      199
1       21400         1    28054  2017-04-18     ec      199
2       21600         1    26153  2017-04-19     ec      199
3       21800         1    24244  2017-04-20     ec      199
4       22000         1    24873  2017-04-21     ec      199

In [17]:
df_countries = pd.read_json("countries.json")
df_countries = df_countries.transpose()
df_countries = df_countries.drop(columns=['continent', 'capital', 'languages', 'native', 'phone', 'currency'])
df_countries = df_countries.rename(columns={'name':'Country'})
df_countries.head()
df['Region'] = df['Region'].str.upper()
df = df.merge(df_countries, how='inner', left_on='Region', right_index=True)

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
r = pd.date_range(start=df.Date.min(), end=df.Date.max())
r

DatetimeIndex(['2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
               '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
               '2017-04-25', '2017-04-26',
               ...
               '2019-02-21', '2019-02-22', '2019-02-23', '2019-02-24',
               '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28',
               '2019-03-01', '2019-03-02'],
              dtype='datetime64[ns]', length=685, freq='D')

In [19]:
countries = [x for _, x in df.groupby('Country')]
countries

[       Unnamed: 0  Position  Streams       Date Region  Inv_Pos    Country
 414        169574         1   259697 2017-04-17     AR      199  Argentina
 415        169774         1   408219 2017-04-18     AR      199  Argentina
 416        169974         1   360378 2017-04-19     AR      199  Argentina
 417        170174         1   331557 2017-04-20     AR      199  Argentina
 418        170374         1   348161 2017-04-21     AR      199  Argentina
 419        170574         1   338829 2017-04-22     AR      199  Argentina
 420        170774         1   279433 2017-04-23     AR      199  Argentina
 421        170974         1   249803 2017-04-24     AR      199  Argentina
 422        171174         1   238474 2017-04-25     AR      199  Argentina
 423        171374         1   230988 2017-04-26     AR      199  Argentina
 424        171574         1   227884 2017-04-27     AR      199  Argentina
 425        171774         1   251385 2017-04-28     AR      199  Argentina
 426        171974         1   279506 2017-04-29     AR      199  Argentina
 427        172174         1   252077 2017-04-30     AR      199  Argentina
 428        172374         1   223783 2017-05-01     AR      199  Argentina
 429        172575         2   201479 2017-05-02     AR      198  Argentina
 430        172775         2   203292 2017-05-03     AR      198  Argentina
 431        172975         2   204247 2017-05-04     AR      198  Argentina
 432        173175         2   220633 2017-05-05     AR      198  Argentina
 433        173375         2   236250 2017-05-06     AR      198  Argentina
 434        173575         2   198581 2017-05-07     AR      198  Argentina
 435        173775         2   177598 2017-05-08     AR      198  Argentina
 436        173975         2   191757 2017-05-09     AR      198  Argentina
 437        174175         2   183420 2017-05-10     AR      198  Argentina
 438        174375         2   183860 2017-05-11     AR      198  Argentina
 439        174575         2   196284 2017-05-12     AR      198  Argentina
 440        174775         2   218435 2017-05-13     AR      198  Argentina
 441        174975         2   177389 2017-05-14     AR      198  Argentina
 442        175175         2   165091 2017-05-15     AR      198  Argentina
 443        175375         2   174920 2017-05-16     AR      198  Argentina
 ...           ...       ...      ...        ...    ...      ...        ...
 676        222526       167    17229 2018-01-09     AR       33  Argentina
 12022     3458349       161    16677 2018-01-14     AR       39  Argentina
 12025     3466886       156    18006 2018-01-28     AR       44  Argentina
 12079     3514534       176    16602 2018-01-29     AR       24  Argentina
 12082     3523166       185    16828 2018-01-15     AR       15  Argentina
 12279     3712001       182    16653 2018-01-17     AR       18  Argentina
 12335     3767454       188    16871 2018-01-16     AR       12  Argentina
 12539     3962085       175    17947 2018-01-12     AR       25  Argentina
 12584     3999011       171    17886 2018-01-13     AR       29  Argentina
 12781     4204868       166    17727 2018-01-11     AR       34  Argentina
 12822     4250848       151    18631 2018-01-10     AR       49  Argentina
 13198     4676939       196    14299 2018-02-25     AR        4  Argentina
 13303     4777732       194    14869 2018-02-18     AR        6  Argentina
 13951     5515595       189    14502 2018-02-12     AR       11  Argentina
 14083     5668799       191    16786 2018-02-10     AR        9  Argentina
 14085     5670148       177    16369 2018-02-04     AR       23  Argentina
 14172     5772117       183    14695 2018-02-11     AR       17  Argentina
 14291     5915920       199    16271 2018-02-01     AR        1  Argentina
 14621     6280568       183    17954 2018-02-03     AR       17  Argentina
 14766     6443307       151    19051 2018-01-21     AR       49  Argentina
 14810     6499104       162    19804 2018-01-20     AR       38  Argentina
 15002     6686325       190    15778 2018-01-22     AR       10  Argentina
 15255     6943260       171    17899 2018-01-27     AR       29  Argentina
 15302     6987626       188    17449 2018-01-26     AR       12  Argentina
 15500     7185124       181    17533 2018-01-18     AR       19  Argentina
 15503     7191642       194    16243 2018-01-30     AR        6  Argentina
 15504     7193160       197    15989 2018-01-24     AR        3  Argentina
 15549     7230219       199    16444 2018-01-25     AR        1  Argentina
 15552     7235981       197    15962 2018-01-31     AR        3  Argentina
 15553     7237431       174    18489 2018-01-19     AR       26  Argentina

 [292 rows x 7 columns],
        Unnamed: 0  Position  Streams       Date Region  Inv_Pos    Country
 11088     3193328        94    29301 2017-04-18     AU      106  Australia
 11089     3193504        70    39699 2017-04-19     AU      130  Australia
 11090     3193694        60    46982 2017-04-20     AU      140  Australia
 11091     3193889        55    49322 2017-04-21     AU      145  Australia
 11092     3194081        47    51533 2017-04-22     AU      153  Australia
 11093     3194272        38    58910 2017-04-23     AU      162  Australia
 11094     3194459        25    76658 2017-04-24     AU      175  Australia
 11095     3194651        17    92863 2017-04-25     AU      183  Australia
 11096     3194851        17    96912 2017-04-26     AU      183  Australia
 11097     3195050        16   100107 2017-04-27     AU      184  Australia
 11098     3195249        15    98386 2017-04-28     AU      185  Australia
 11099     3195447        13   105639 2017-04-29     AU      187  Australia
 11100     3195647        13   108021 2017-04-30     AU      187  Australia
 11101     3195845        11   115868 2017-05-01     AU      189  Australia
 11102     3196044        10   116931 2017-05-02     AU      190  Australia
 11103     3196241         7   121610 2017-05-03     AU      193  Australia
 11104     3196441         7   130442 2017-05-04     AU      193  Australia
 11105     3196639         5   134669 2017-05-05     AU      195  Australia
 11106     3196839         5   132431 2017-05-06     AU      195  Australia
 11107     3197038         4   137885 2017-05-07     AU      196  Australia
 11108     3197237         3   149451 2017-05-08     AU      197  Australia
 11109     3197437         3   156574 2017-05-09     AU      197  Australia
 11110     3197637         3   165440 2017-05-10     AU      197  Australia
 11111     3197837         3   172093 2017-05-11     AU      197  Australia
 11112     3198037         3   174974 2017-05-12     AU      197  Australia
 11113     3198237         3   179204 2017-05-13     AU      197  Australia
 11114     3198436         2   180855 2017-05-14     AU      198  Australia
 11115     3198636         2   199960 2017-05-15     AU      198  Australia
 11116     3198836         2   207251 2017-05-16     AU      198  Australia
 11117     3199036         2   215986 2017-05-17     AU      198  Australia
 ...           ...       ...      ...        ...    ...      ...        ...
 15098     6793484       178    25996 2018-03-19     AU       22  Australia
 15199     6887036       149    29192 2018-03-21     AU       51  Australia
 15200     6889627       145    27962 2018-04-28     AU       55  Australia
 15206     6896147       114    31521 2018-04-14     AU       86  Australia
 15209     6899879       146    29042 2018-03-09     AU       54  Australia
 15229     6916726       113    34591 2018-01-24     AU       87  Australia
 15234     6920134       136    30915 2018-01-30     AU       64  Australia
 15235     6922226       168    25564 2018-06-11     AU       32  Australia
 15237     6925426        98    36739 2018-01-18     AU      102  Australia
 15244     6930198       196    24214 2018-06-05     AU        4  Australia
 15312     7000595       183    24564 2018-06-04     AU       17  Australia
 15315     7002934       171    23666 2018-06-10     AU       29  Australia
 15318     7004266       103    35666 2018-01-19     AU       97  Australia
 15319     7006539       134    30921 2018-01-31     AU       66  Australia
 15325     7013394       108    35294 2018-01-25     AU       92  Australia
 15346     7028428       123    26784 2018-04-01     AU       77  Australia
 15349     7030730       154    28386 2018-03-08     AU       46  Australia
 15353     7034976       116    29659 2018-04-15     AU       84  Australia
 15357     7039937       181    26194 2018-03-20     AU       19  Australia
 15360     7041514       158    25336 2018-04-29     AU       42  Australia
 15459     7140150       139    30735 2018-03-22     AU       61  Australia
 15463     7143941       168    25989 2018-04-03     AU       32  Australia
 15464     7145892       119    31629 2018-04-17     AU       81  Australia
 15485     7165639       108    30636 2018-01-27     AU       92  Australia
 15490     7170658       193    24053 2018-06-06     AU        7  Australia
 15562     7251945       190    24845 2018-06-07     AU       10  Australia
 15570     7257276       132    34302 2018-01-26     AU       68  Australia
 15590     7277707       116    31826 2018-04-16     AU       84  Australia
 15595     7284085       144    27148 2018-04-02     AU       56  Australia
 15599     7287576       132    31325 2018-03-23     AU       68  Australia

 [442 rows x 7 columns],
        Unnamed: 0  Position  Streams       Date Region  Inv_Pos  Country
 6847      2004641        52     4181 2017-04-17     AT      148  Austria
 6848      2004808        19     8359 2017-04-18     AT      181  Austria
 6849      2005002        13    11876 2017-04-19     AT      187  Austria
 6850      2005194         5    14034 2017-04-20     AT      195  Austria
 6851      2005393         4    17910 2017-04-21     AT      196  Austria
 6852      2005593         4    17521 2017-04-22     AT      196  Austria
 6853      2005792         3    15402 2017-04-23     AT      197  Austria
 6854      2005990         1    17960 2017-04-24     AT      199  Austria
 6855      2006190         1    20757 2017-04-25     AT      199  Austria
 6856      2006390         1    20385 2017-04-26     AT      199  Austria
 6857      2006590         1    21772 2017-04-27     AT      199  Austria
 6858      2006790         1    24104 2017-04-28     AT      199  Austria
 6859      2006990         1    25460 2017-04-29     AT      199  Austria
 6860      2007190         1    23653 2017-04-30     AT      199  Austria
 6861      2007390         1    21759 2017-05-01     AT      199  Austria
 6862      2007590         1    22378 2017-05-02     AT      199  Austria
 6863      2007790         1    21965 2017-05-03     AT      199  Austria
 6864      2007990         1    22180 2017-05-04     AT      199  Austria
 6865      2008190         1    24624 2017-05-05     AT      199  Austria
 6866      2008390         1    25318 2017-05-06     AT      199  Austria
 6867      2008590         1    19866 2017-05-07     AT      199  Austria
 6868      2008790         1    21589 2017-05-08     AT      199  Austria
 6869      2008990         1    22699 2017-05-09     AT      199  Austria
 6870      2009190         1    23632 2017-05-10     AT      199  Austria
 6871      2009390         1    24351 2017-05-11     AT      199  Austria
 6872      2009590         1    27053 2017-05-12     AT      199  Austria
 6873      2009790         1    26151 2017-05-13     AT      199  Austria
 6874      2009990         1    22163 2017-05-14     AT      199  Austria
 6875      2010190         1    23345 2017-05-15     AT      199  Austria
 6876      2010390         1    25222 2017-05-16     AT      199  Austria
 ...           ...       ...      ...        ...    ...      ...      ...
 7060      2051126       147     3750 2017-12-08     AT       53  Austria
 7061      2051354       175     3175 2017-12-09     AT       25  Austria
 7062      2052377       198     2567 2017-12-14     AT        2  Austria
 7063      2052768       189     3346 2017-12-16     AT       11  Austria
 7064      2054733       154     2610 2017-12-26     AT       46  Austria
 7065      2054908       129     2940 2017-12-27     AT       71  Austria
 7066      2055114       135     2842 2017-12-28     AT       65  Austria
 7067      2055293       114     3279 2017-12-29     AT       86  Austria
 7068      2055475        96     3497 2017-12-30     AT      104  Austria
 7069      2055598        19    13936 2017-12-31     AT      181  Austria
 7070      2055818        39     5315 2018-01-01     AT      161  Austria
 7071      2056034        55     4891 2018-01-02     AT      145  Austria
 7072      2056244        65     4515 2018-01-03     AT      135  Austria
 7073      2056475        96     3467 2018-01-04     AT      104  Austria
 7074      2056694       115     3227 2018-01-05     AT       85  Austria
 7075      2056888       109     3095 2018-01-06     AT       91  Austria
 7076      2057119       140     2436 2018-01-07     AT       60  Austria
 7077      2057361       182     2267 2018-01-08     AT       18  Austria
 7078      2057558       179     2361 2018-01-09     AT       21  Austria
 11942     3388812       130     3297 2018-01-13     AT       70  Austria
 12169     3593103       159     3045 2018-01-12     AT       41  Austria
 12192     3637004       174     2428 2018-01-10     AT       26  Austria
 12425     3842465       172     2472 2018-01-11     AT       28  Austria
 12454     3885849       189     2266 2018-01-15     AT       11  Austria
 12668     4074166       160     2437 2018-01-14     AT       40  Austria
 12711     4136430       179     2388 2018-01-16     AT       21  Austria
 12897     4319570       181     2372 2018-01-17     AT       19  Austria
 14927     6627799       188     2715 2018-01-19     AT       12  Austria
 15124     6807020       194     2380 2018-01-18     AT        6  Austria
 15175     6874910       182     2689 2018-01-20     AT       18  Austria

 [243 rows x 7 columns],
        Unnamed: 0  Position  Streams       Date Region  Inv_Pos  Country
 5654      1668296        89     4838 2017-04-17     BE      111  Belgium
 5655      1668456        49     9552 2017-04-18     BE      151  Belgium
 5656      1668631        24    14324 2017-04-19     BE      176  Belgium
 5657      1668824        17    16343 2017-04-20     BE      183  Belgium
 5658      1669020        13    20356 2017-04-21     BE      187  Belgium
 5659      1669219        12    23920 2017-04-22     BE      188  Belgium
 5660      1669416         9    23376 2017-04-23     BE      191  Belgium
 5661      1669614         7    23070 2017-04-24     BE      193  Belgium
 5662      1669811         4    24479 2017-04-25     BE      196  Belgium
 5663      1670009         2    29064 2017-04-26     BE      198  Belgium
 5664      1670209         2    27734 2017-04-27     BE      198  Belgium
 5665      1670409         2    29751 2017-04-28     BE      198  Belgium
 5666      1670609         2    33623 2017-04-29     BE      198  Belgium
 5667      1670809         2    32578 2017-04-30     BE      198  Belgium
 5668      1671009         2    31470 2017-05-01     BE      198  Belgium
 5669      1671209         2    28068 2017-05-02     BE      198  Belgium
 5670      1671409         2    32368 2017-05-03     BE      198  Belgium
 5671      1671609         2    30376 2017-05-04     BE      198  Belgium
 5672      1671809         2    31457 2017-05-05     BE      198  Belgium
 5673      1672009         2    36489 2017-05-06     BE      198  Belgium
 5674      1672209         2    31414 2017-05-07     BE      198  Belgium
 5675      1672409         2    30029 2017-05-08     BE      198  Belgium
 5676      1672609         2    31402 2017-05-09     BE      198  Belgium
 5677      1672809         2    36505 2017-05-10     BE      198  Belgium
 5678      1673009         2    33032 2017-05-11     BE      198  Belgium
 5679      1673209         2    34107 2017-05-12     BE      198  Belgium
 5680      1673410         3    37331 2017-05-13     BE      197  Belgium
 5681      1673610         3    34399 2017-05-14     BE      197  Belgium
 5682      1673809         2    34650 2017-05-15     BE      198  Belgium
 5683      1674008         1    37466 2017-05-16     BE      199  Belgium
 ...           ...       ...      ...        ...    ...      ...      ...
 13324     4816229       152     4540 2019-01-01     BE       48  Belgium
 13676     5208421        49    17299 2018-12-31     BE      151  Belgium
 13738     5284137       166     4263 2018-02-09     BE       34  Belgium
 13842     5411268       154     4714 2018-02-10     BE       46  Belgium
 13844     5413797       163     3902 2018-02-04     BE       37  Belgium
 13957     5524438       170     3566 2018-02-05     BE       30  Belgium
 13962     5531722       165     3905 2018-02-11     BE       35  Belgium
 14076     5659370       197     3712 2018-02-07     BE        3  Belgium
 14078     5660480       187     3690 2018-02-13     BE       13  Belgium
 14176     5775387       158     4104 2018-02-12     BE       42  Belgium
 14293     5918058       178     4171 2018-02-02     BE       22  Belgium
 14298     5923577       173     4344 2018-02-16     BE       27  Belgium
 14394     6022674       158     4389 2018-02-17     BE       42  Belgium
 14396     6023580       140     4960 2018-02-03     BE       60  Belgium
 14517     6168149       177     3745 2018-02-15     BE       23  Belgium
 14519     6175702       183     3533 2018-02-01     BE       17  Belgium
 14767     6447407       144     3894 2018-01-22     BE       56  Belgium
 14809     6490730       163     3672 2018-01-23     BE       37  Belgium
 14900     6590332       195     4486 2018-04-07     BE        5  Belgium
 15009     6703479       148     4219 2018-01-21     BE       52  Belgium
 15049     6736936       126     5038 2018-01-20     BE       74  Belgium
 15156     6854397       187     3817 2018-03-09     BE       13  Belgium
 15249     6934335       177     3532 2018-01-30     BE       23  Belgium
 15251     6937866       161     4031 2018-01-24     BE       39  Belgium
 15257     6944952       149     3949 2018-01-18     BE       51  Belgium
 15297     6981119       137     4340 2018-01-19     BE       63  Belgium
 15303     6988514       160     3887 2018-01-25     BE       40  Belgium
 15307     6996881       182     3866 2018-01-31     BE       18  Belgium
 15498     7183950       138     4948 2018-01-27     BE       62  Belgium
 15557     7244464       160     4457 2018-01-26     BE       40  Belgium

 [319 rows x 7 columns],
       Unnamed: 0  Position  Streams       Date Region  Inv_Pos  Country
 6440     1878461         2     7652 2017-04-17     BO      198  Bolivia
 6441     1878544         1    14157 2017-04-18     BO      199  Bolivia
 6442     1878629         1    12915 2017-04-19     BO      199  Bolivia
 6443     1878715         1    11460 2017-04-20     BO      199  Bolivia
 6444     1878806         1    11914 2017-04-21     BO      199  Bolivia
 6445     1878906         1    10777 2017-04-22     BO      199  Bolivia
 6446     1878994         1     8764 2017-04-23     BO      199  Bolivia
 6447     1879069         1     8802 2017-04-24     BO      199  Bolivia
 6448     1879158         2     8809 2017-04-25     BO      198  Bolivia
 6449     1879256         2     8247 2017-04-26     BO      198  Bolivia
 6450     1879353         2     8313 2017-04-27     BO      198  Bolivia
 6451     1879450         2     8599 2017-04-28     BO      198  Bolivia
 6452     1879544         2     8340 2017-04-29     BO      198  Bolivia
 6453     1879634         2     7386 2017-04-30     BO      198  Bolivia
 6454     1879714         2     7664 2017-05-01     BO      198  Bolivia
 6455     1879798         2     7817 2017-05-02     BO      198  Bolivia

In [20]:
new_df = []
for country in countries:
    processed = country.set_index('Date').reindex(r, fill_value=country['Country'].values[0]).rename_axis('Date').reset_index()
    processed.loc[processed['Streams'] == processed['Country'], ['Streams']] = np.NaN
    processed['Streams'] = pd.to_numeric(processed['Streams'])
    processed.info()
    processed.index = pd.DatetimeIndex(processed.index)
    processed.fillna(0, inplace=True)
    new_df.append(processed)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       292 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       442 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       243 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       319 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       189 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       279 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       517 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       219 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       205 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       187 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       267 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       501 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       185 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       227 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       147 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       119 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       410 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       187 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       279 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       198 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       195 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       159 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       481 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       320 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       441 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       274 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       502 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       185 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       570 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       129 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       127 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       107 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       362 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       238 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       237 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       482 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       570 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       216 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       170 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       248 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       313 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       222 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       204 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       429 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       140 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       230 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       529 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       286 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       352 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       378 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       497 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       338 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 685 entries, 0 to 684
Data columns (total 7 columns):
Date          685 non-null datetime64[ns]
Unnamed: 0    685 non-null object
Position      685 non-null object
Streams       307 non-null float64
Region        685 non-null object
Inv_Pos       685 non-null object
Country       685 non-null object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 37.5+ KB

In [21]:
new_df = pd.concat(new_df, axis=0)
new_df

,Date,Unnamed: 0,Position,Streams,Region,Inv_Pos,Country
1970-01-01 00:00:00.000000000,2017-04-17,169574,1,259697.0,AR,199,Argentina
1970-01-01 00:00:00.000000001,2017-04-18,169774,1,408219.0,AR,199,Argentina
1970-01-01 00:00:00.000000002,2017-04-19,169974,1,360378.0,AR,199,Argentina
1970-01-01 00:00:00.000000003,2017-04-20,170174,1,331557.0,AR,199,Argentina
1970-01-01 00:00:00.000000004,2017-04-21,170374,1,348161.0,AR,199,Argentina
1970-01-01 00:00:00.000000005,2017-04-22,170574,1,338829.0,AR,199,Argentina
1970-01-01 00:00:00.000000006,2017-04-23,170774,1,279433.0,AR,199,Argentina
1970-01-01 00:00:00.000000007,2017-04-24,170974,1,249803.0,AR,199,Argentina
1970-01-01 00:00:00.000000008,2017-04-25,171174,1,238474.0,AR,199,Argentina
1970-01-01 00:00:00.000000009,2017-04-26,171374,1,230988.0,AR,199,Argentina
1970-01-01 00:00:00.000000010,2017-04-27,171574,1,227884.0,AR,199,Argentina
1970-01-01 00:00:00.000000011,2017-04-28,171774,1,251385.0,AR,199,Argentina
1970-01-01 00:00:00.000000012,2017-04-29,171974,1,279506.0,AR,199,Argentina
1970-01-01 00:00:00.000000013,2017-04-30,172174,1,252077.0,AR,199,Argentina
1970-01-01 00:00:00.000000014,2017-05-01,172374,1,223783.0,AR,199,Argentina
1970-01-01 00:00:00.000000015,2017-05-02,172575,2,201479.0,AR,198,Argentina
1970-01-01 00:00:00.000000016,2017-05-03,172775,2,203292.0,AR,198,Argentina
1970-01-01 00:00:00.000000017,2017-05-04,172975,2,204247.0,AR,198,Argentina
1970-01-01 00:00:00.000000018,2017-05-05,173175,2,220633.0,AR,198,Argentina
1970-01-01 00:00:00.000000019,2017-05-06,173375,2,236250.0,AR,198,Argentina
1970-01-01 00:00:00.000000020,2017-05-07,173575,2,198581.0,AR,198,Argentina
1970-01-01 00:00:00.000000021,2017-05-08,173775,2,177598.0,AR,198,Argentina
1970-01-01 00:00:00.000000022,2017-05-09,173975,2,191757.0,AR,198,Argentina
1970-01-01 00:00:00.000000023,2017-05-10,174175,2,183420.0,AR,198,Argentina
1970-01-01 00:00:00.000000024,2017-05-11,174375,2,183860.0,AR,198,Argentina
1970-01-01 00:00:00.000000025,2017-05-12,174575,2,196284.0,AR,198,Argentina
1970-01-01 00:00:00.000000026,2017-05-13,174775,2,218435.0,AR,198,Argentina
1970-01-01 00:00:00.000000027,2017-05-14,174975,2,177389.0,AR,198,Argentina
1970-01-01 00:00:00.000000028,2017-05-15,175175,2,165091.0,AR,198,Argentina
1970-01-01 00:00:00.000000029,2017-05-16,175375,2,174920.0,AR,198,Argentina
...,...,...,...,...,...,...,...
1970-01-01 00:00:00.000000655,2019-02-01,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000656,2019-02-02,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000657,2019-02-03,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000658,2019-02-04,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000659,2019-02-05,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000660,2019-02-06,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000661,2019-02-07,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000662,2019-02-08,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000663,2019-02-09,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000664,2019-02-10,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000665,2019-02-11,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000666,2019-02-12,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000667,2019-02-13,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000668,2019-02-14,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000669,2019-02-15,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000670,2019-02-16,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000671,2019-02-17,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000672,2019-02-18,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000673,2019-02-19,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000674,2019-02-20,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000675,2019-02-21,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000676,2019-02-22,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000677,2019-02-23,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000678,2019-02-24,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000679,2019-02-25,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000680,2019-02-26,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000681,2019-02-27,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000682,2019-02-28,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000683,2019-03-01,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay
1970-01-01 00:00:00.000000684,2019-03-02,Uruguay,Uruguay,0.0,Uruguay,Uruguay,Uruguay

In [22]:
new_df.to_csv("interpolated_rank.csv")

In [23]:
new_df.reset_index()
final_df = new_df.drop(['Unnamed: 0', 'Position', "Inv_Pos"], axis=1)
final_df.reset_index().to_csv("interpolated_rank_stripped.csv")

In [24]:
from sklearn import preprocessing

x = final_df.Streams.values #returns a numpy array
x = x.reshape(-1,1)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
final_df['Streams_norm'] = x_scaled

In [25]:
final_df.reset_index().drop(['index', 'Streams'],axis=1).to_csv("interpolated_rank_stripped.csv", index=False)